{% extends "food/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
   {% block body %}
    
      {% for item in Item_list %}
      <div class="row mt-5">
        <div class="col-md-3 offset-md-2">
          <img class="card" height="150px" src="{{item.Item_image}}" width="150px"/>
        </div>
        <div class="col-md-4">
          <h3>{{item.Item_name}}</h3>
          <h5>{{item.Item_descr}}</h5>
          <h6>${{item.unit_price}}</h6>
        </div>
        <div class="col-md-2">
          <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>
        </div>
      </div>
      {% endfor %}
   
   {% endblock body %} 
   <footer>This is a footer content</footer>
  </body>
</html>
