*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#2c2e31, #2b2c31);
}
.landing{
    width: 95%;
    height: 90%;
    background-color: #242529;
    box-shadow: 0 1 rem 4 rem rgba(0,0,0,0.3);
    border-radius: 4px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8rem;
    padding: 0 10rem;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.logo span{
    font-family: "Passion One", cursive;
    font-size: 5rem;
    color: #fff;
    letter-spacing: 0.2rem;
    text-shadow: 0 05rem 1rem rgba(0,0,0,0.1);
}
.logo img{
    height: 3rem;
    width: 8rem;
    position: relative;
    top: 10px;
    width: 100%;
    transform: translateY(95%);
    margin-bottom: 20px;
}
.navigation{
    display: flex;
    flex-direction: row;
}
.navigation a{
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    width: 9rem;
    background-color: #2c2e31;
    margin: 5%;
}

.navigation a img{
    width: 90%;
    height: 2rem;
    display: none;
}

.navigation a.active img{
    display: block;
}